html, body {
  font-family : "Courier New", Courier, monospace;
}
h1 {
  width: 100%;
  text-align: center;
  font-size: 32px;
}
h3 {
  width: 100%;
  text-align: center;
  font-weight: 0;
  font-size: 18px;
}
#GraphContainer {
  width: 100%;
  padding-left: auto;
  padding-right: auto;
}
img#Graph {
  margin-top: 4em;
  margin-right: 20%;
  margin-left: 20%;
  width: 60%;
}
#Mario {
  width: 40em;
  height: 1.5em;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}
h3#input {
  margin: 2em;
}
