html, body {
  font-family : "Courier New", Courier, monospace;
}
h1 {
  width: 100%;
  text-align: center;
  font-size: 32px;
}
h3 {
  width: 100%;
  text-align: center;
  font-weight: 0;
  font-size: 18px;
}
#GraphContainer {
  width: 100%;
}
img#Graph {
  position: absolute;
  top: 4em;
  right: auto;
  left: auto;
}
