html, body {
  font-family : "Courier New", Courier, monospace;
}
h1 {
  width: 100%;
  text-align: center;
  font-size: 32px;
}
h2 {
  width: 100%;
  text-align: center;
  font-weight: 0;
  font-size: 18px;
}
